html {
	overflow-y: scroll;
}
body {
	background-color: #36393f;
	color: #eee;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
#nav {
	float: left;
	border-right: 1px;
/*	width: 72px; */
	width: 4%;
	background-color: #202225;
	position: fixed;
	overflow: auto;
	height: 100%;
	border: 2px solid white;
}
.groupchats {
	border-radius: 50%;
	height: 48px;
	width: 48px;
	align-items: center;
	border: 2px solid white;
}
.container-000 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 96%;
	background-color: #36393f;
	float: right;
	border: 2px solid orange;
/*	overflow: auto; */
}

.container-001 {
	display: flex;
	flex-direction: column;
	height: 10%;
	width: 300px;
	background-color: #000;
	align: left;
	margin-bottom: auto;
	border: 2px solid red;
}
.row {
	display: flex;
	flex-direction: column;
	height: 232px;
	width: 300px;
	align-text: center;
	margin-left: 8px;
	border: 2px solid blue;
}
.container-003 {
	display: flex;
	flex-direction: column;
	height: 87%;
	width: 300px;
	background-color: #2f3136;
	border: 2px solid blue;
/*	overflow: auto; */
}
.container-004 {
	display: flex;
	height: 7%;
	margin-top: auto; 
	padding-left: 2%;
	background-color: #292b2f;
	align-items: center;
	border: 2px solid black;
}

.container-005 {
	border-radius: 50%;
	height: 32px;
	width: 32px;
	border: 2px solid green;
	align-items: left;
	text-align: center;
}

