html {
	overflow-y: scroll;
	overflow: hidden;
}
body {
	color: #eee;
	margin: 0;
	padding:0;
	border: none;
	background-color: #2f3136;
}
img {
	flex-shrink: 0;
	flex-grow: 0;
}
div {
	flex-shrink: 0;
	flex-grow: 0;
}
button {
	cursor: pointer;
}
p {
	padding-left: 8px;
	padding-right: 8px;
	user-select: none;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	flex-shrink: 0;
	flex-grow: 0;
	font-weight: 600px;
}
span {
	width: 193.8px;
	height: 18px;
}
h3 {
	margin-left: 8px;
	margin-right: 8px;
}
.nav {
	display: block;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	flex-shrink: 0;
	height: 100%;
	width: 72px;
	background-color: #202225;
	position: fixed;
	float: left;
	overflow: "hidden scroll";
	justify-items: center;
}
.nav button {
	background-size: contain;
	background-position: center;
	background-color: #36393f;
	height: 56px;
	width: 56px;
	padding: auto;
	height: 56px;
	width: 56px;
	margin: 8px;
	border: none;
	border-radius: 50%;
}
.nav button:hover {
	background-size: contain;
	background-position: center;
	background-color: #3ba55d;
	border-radius: 5px;
}
.nav button:focus {
	border-radius: 5px;
}
.homebutton {
	background: url(images/xmpp-green.svg);
}
.homebutton:hover {
	background: url(images/xmpp.svg);
}
.newmuc {
	background-color: #36393f;
	color: #3ba55d;
	border: none;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	font-size: 24px;
}
.newmuc:hover {
	background-color: #3ba55d;
	color: #36393f;
}
.break {
	width: 48px;
	height: 4px;
	background-color: #2d2f32;
	border: 1px #2d2f32;
	border-radius: 5px;
}
.navContent {
	display: none;
}
/*
/*.topbar {
	display: flex;
	flex-direction: row;
	background: #36393f;
	color: #eee;
	position: fixed;
	float: top;
	height: 48px;
	left: 328px;
	right: 0px;
	border-bottom: 2px solid #2f3136;
	align-items: center;
	font-size: 16px;
	line-height: 20px;
	z-index: 2;
	user-select: none;
}
.verticaline {
	background-color: #2f3136;
	height: 80%;
	width: 2px;
	margin-left: 8px;
	margin-right: 8px;
} */
