.masterNav {
	display: block;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
	flex-shrink: 0;
	height: 100%;
	width: 72px;
	background-color: #202225;
	position: fixed;
	float: left;
	overflow: "hidden scroll";
	justify-items: center;
}
.masterNav button {
	background-size: contain;
	background-position: center;
	background-color: #36393f;
	height: 56px;
	width: 56px;
	padding: auto;
	height: 56px;
	width: 56px;
	margin: 8px;
	border: none;
	border-radius: 50%;
}
.masterNav button:hover {
	background-size: contain;
	background-position: center;
	background-color: #3ba55d;
	border-radius: 5px;
}
.masterNav button:active {
	border-radius: 5px;
}
.homebutton {
	background: url(images/xmpp-green.svg);
}
.homebutton:hover {
	background: url(images/xmpp.svg);
}
.newmuc {
	background-color: #36393f;
	color: #3ba55d;
	border: none;
	border-radius: 50%;
	height: 56px;
	width: 56px;
	font-size: 24px;
}
.newmuc:hover {
	background-color: #3ba55d;
	color: #36393f;
}
.break {
	width: 48px;
	height: 4px;
	background-color: #2d2f32;
	border: 1px #2d2f32;
	border-radius: 5px;
}
.background {
	display: flex;
	flex-direction: column;
	align-items: center;
	left: 72px;
	height: 100%;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
.errbox {
	display: flex;
	flex-direction: column;
	float: none;
	height: 222px;
	width: 480px;
	border-radius: 5px;
	background-color: #36393f;
	color: #eee;
	align-items: center;
}
.stylebox {
	height: 220px;
	width: 416px;
}
.reload {
	height: 40px;
	width: 45%;
	float: left;
	color: white;
	background-color: #5865f2;
	border: 2px #5865f2;
	border-radius: 5px;
	align-items: center;
	margin-top: 60px;
}
.reload:hover {
	background-color: #4752c4;
	border: 2px; #4752c4;
}
.reload:active {
	background-color: #3c45a5;
	border: 2px #3c45a5;
}
.bugreport {
	height: 40px;
	width: 45%;
	float: right;
	color: white;
	background-color: #5865f2;
	border: 2px #5865f2;
	border-radius: 5px;
	align-items: center;
	margin-top: 60px;
}
.bugreport:hover {
	background-color: #4752c4;
	border: 2px; #4752c4;
}
.bugreport:active {
	background-color: #3c45a5;
	border: 2px #3c45a5;
}
.tabContent {
	display: none;
}
.homeNav {
	width: 256px;
	height: 100%;
	left: 0px;
	background-color: #2f3136;
	position: absolute;
}
.homeButtonWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.homeNavTabs {
/*	background-color: #; */
	border-radius: 5px;
	height: 40px;
	border: none;
	text-align: left;
	padding-left: 8px;
	margin: 16px;
}
