html {
	background-color: #202225;
}
body {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
button:hover {
	background-color: #4752c4;
	border: 2px #4752c4;
}
button:active {
	background-color: #3c45a5;
	border: 2px #4752c4;
}
label {
	font-weight: 600;
	padding-bottom: 8px;
}
i {
	color: #ed4245;
	font-weight: 500;
}
a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
p {
	flex-shrink: 0;
	flex-grow: 0;
	margin: 0;
	font-size: 100%;
}
h3 {
	margin: 0px;

}
.loginbox {
	display: flex;
	float: none;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	height: 406.5px;
	width: 480px;
	background-color: #36393f;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
}
.bigbox {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	height: 342.5px;
	width: 416px;
}
.wel {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	color: white;
	font-size: 24px;
	position: static;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 30px;
	flex-grow: 0;
	flex-shrink: 0;
}
.form {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	text-align: left;
	color: #b9bbbe;
	font-size: 12px;
	line-height: 16px;
	height: 264.5px;
	width: auto;
	margin-top: 20px;
}
.login-button {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	background-color: #5865f2;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 8px;
	height: 40px;
	color: white;
	align-items: center;
	justify-content: center;
	border: 2px #5865f2;
	border-radius: 5px;
}
.form-control {
	display: flex;
	flex-direction: column;
	color: #b9bbbe;
	background-color: #303339;
	border: 1px solid #202225;
	border-radius: 5px;
	height: 44px;
	width: 100%;
	padding: 16px;
	font-size: 16px;
	line-height: 1;
	justify-content: center;
	margin-bottom: 20px;
}
.form-control:focus {
	border: 1px solid #00b7ff;
}
input {
	outline: 0;
}
.registertext {
	color: #72767d;
	font-size: 14px;
}
.forgotpasswd {
	color: #00aff4;
}
